* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.parent {
  background-color: #23424a;
  padding: 50px;
  width: 80%;
  margin: 0 auto;
}

/* .child {
  background-color: #38cfd9;
  height: 250px;
} */
/*Work in percentages for width*/
/*having absolute widths takes away responsiveness*/
/*child has the % width of the parent*/

.child {
  background-color: #38cfd9;
  width: 50%;
  height: 250px;
}

/*CSS tries to not lose information*/
/*if child has bigger width than parent, overflows*/
/*always x% of the elements parent*/

.container {
  background: #23424a;
  color: white;
  width: 80%;
  margin: 0 auto;
  padding: 5em;
}
